.html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

/* Hero */

.hero,
footer {
  background-color: #1F2937;
  padding: 0 20rem;
}

header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content:space-between;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.header-links {
  display: flex;
  gap: 2rem;
}

a {
  text-decoration: none;
}

.hero-main {
  margin: 5rem 0 10rem;
  display: flex;
  height: 15rem;
  gap: 5rem;
  justify-content: space-between;
}

.hero-text {
  flex-direction: column;
  display: flex;
  flex: 1 1 0;
  align-items: flex-start;
  justify-content: space-between;
}

.main-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin: 0;
}

.secondary-text,
a {
  font: 18px;
  color: #E5E7EB;
  margin: 0;
}

button {
  background-color: #3882F6;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  border: 0;
  color: #F9FAF8;
}

.hero-image {
  display: flex;
  flex: 1 1 0;
  font-size: 18px;
  background-color: grey;
  text-align: center;
  color: #F9FAF8;
  justify-content: center;
  align-items: center;
}

/* Information */

.information {
  padding: 0 20rem;
  display: flex;
  flex-direction: column;
}

.information-header {
  margin: 3rem 0;
  text-align: center;
  font-size: 36px;
  color: #1F2937;
  font-weight: 800;
}

.information-boxes {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  margin: 0 10rem;
}

.information-box {
  width: 10rem;
}

.box {
  border: 4px solid #3882F6;
  height: 10rem;
  border-radius: 20px;
}

.text {
  text-wrap: wrap;
  text-align: center;
  flex: 1;
}

/* TODO: Quote */

/* TODO: Call to action */

/* TODO: Footer */
